# File: .gitignore
# Auth: Joe Broesele
# Mod.: Joe Broesele
# Date: 20 Apr 2021
# Rev.: 20 Apr 2021
#
# List of files to be ignored by git.
#

# This file itself.
#.gitignore

# Vi/Vim swap and backup files.
.*.swp
.*.swo
*~

# Other backup files.
*.bac
*.bak

# Compiled Python files.
*.pyc

